table {
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    font-size: large;
}

table,
th,
td {
    border: 2px solid lightgray;
    border-collapse: collapse;
}

td {
    padding: 0.5rem;
}

.tab-cap {
    width: 130px;
    text-align: center;
}

.tab-col {
    width: 180px;
}

.tab-topping {
    width: 200px;
}

.error-message {
    color: red;
    text-align: center;
}